.success {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.ex {
    border-radius: 200px;
        height: 200px;
        width: 200px;
        background: #F8FAF5;
        margin: 0 auto;
}

.shead {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

.sp {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}

.checkmark {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
    text-align: center;
}

.cardd {
    background: white;
    text-align: center;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    width: 400px;
    border-radius: 30px;
    
    margin: auto;
    margin-top: 50px;
}