.Home {
    display: flex;
    padding: 50px;

}

img {
    width: 32.5em;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 25px!important;
    }
    .Home {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .para {
        width: 100%!important;
    }
    img {
        width: 250px;
        // opacity: 0.2;
    }

    // .rightContainer {
    //     position: absolute;
    // }
}

.heading {
    text-align: start;
    font-size: 2.5rem;
    margin-bottom: 33px;
    background: linear-gradient(90deg, #e8697e, #ffd70e);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0.7rem 0.55rem rgba(0, 0, 0, 0.406));
}

.leftContainer {
    color: whitesmoke;
    margin: auto;
    padding-right: 4rem;
    text-align: start;
    .para {
        font-size: 1.2rem;
        padding-right: 85px;
        font-weight: 200;
        margin-bottom: 33px;
    }
}

.button button {
    // background: linear-gradient(45deg,#fcaf3b,#2af2e8);
    background: rgba(234, 126, 25, 0.768);
    padding: 20px 33px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 900;
    font-size: 18px;
    border: none;
    color: whitesmoke;
    z-index: 1;
    transition: all 0.5s ease;
    box-shadow: 0 10px 28px rgba(234, 126, 25, 0.768);
    margin: 55px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
        transform: scale(1.1);
        transition: all 0.5s ease;
    }
}

.next {
    border-radius: 60%;
    margin: 0 23px;
    padding: 5px;
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
}