.Nav {
    background-color: transparent;
    margin: 13px;
    overflow-y: visible;
    transition: all 0.3s ease;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: white!important;
    }
}


.Nav.active {
    padding: 13px;
    margin: 0;
    transition: all 0.3s ease;
    background-color: whitesmoke;
    top: 0;
    color: black;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    align-items: center; 
    z-index: 999;
    box-shadow: 0 10px 28px #2524255f;
    
    a {
        color: black!important;
    }
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    align-items: center;
    gap: 50px;
    margin-right: 33px;
}
.item {
    position: relative;
    transition: all 0.5s ease;
}

.cart {
    position: absolute;
    border-radius: 10px;
    right: -90px;
    width: 280px;
    height: fit-content;
    background-color: whitesmoke;
    text-align: center;
    padding: 13px;
    p {
        color: black;
        font-weight: 100;
    }
    
}

.item:hover {
    cursor: pointer;
    transition: all 0.5s ease;
    color: rgba(0, 0, 0, 0.583);
}

a {
    text-decoration: none;
    color: white;
    &:visited {
        text-decoration: none;
    }
}

.account {
    position: absolute;
    display: flex;
    font-weight: 150;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;

    border: 1px solid black;
    right: 0px;
    width: 135px;
    background-color: whitesmoke;
    color: black;
    padding: 13px;
    a {
        color: black!important;
    }
    .logoutIcon {
        color: black;
        width: 17px;
        justify-content: center;
        padding-left: 23px;
    }
    .signOut {
        display: flex;
        

    }
}